.skill-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 30px;
    font-family: 'Inter';
    width: 80%;
}
@media (max-width: '768px') {
    .skill-container{
        width: 100%;
    }
    
}
.s-heading{
    text-align: start;
}


.btn-container button{
  padding: 10px;
  background-color: transparent;
  color: #0077B5,;
  border: 2px solid rgb(26, 157, 219);
  border-radius: 5px;
  margin: 8px;
}